@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

.page {
  background-color: var(--shark-2);
  min-height: 100vh;
  font-family: var(--font-family-crimson);
}
