.page {
  --bg-main: #1f2023;
  --bg-main-2: #1a1b1e;
  --bg-card: #2c2d31;
  --color-champagne: #ead0b3;
  --color-terracotta: #9c5b40;
  --color-terracotta-hover: #874d35;

  --text-white: #f3f4f6;
  --text-grey: #d1d5db;

  background-color: var(--bg-main);
  min-height: 100vh;
}
