.grid {
  --gap: 24px;

  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--gap);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(odd):last-child {
    grid-column: span 2;
    justify-self: center;
    width: calc(50% - calc(var(--gap) / 2));
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-main);
  padding: 32px;
  border-radius: 24px;
  border: 1px solid rgba(156, 91, 64, 0.2);
  transition: all 300ms;
}

.card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-color: rgba(156, 91, 64, 0.4);
}

.cardIconBox {
  padding: 12px;
  background-color: rgba(156, 91, 64, 0.2);
  border-radius: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  width: 24px;
  height: 24px;
  color: var(--color-terracotta);
}

.cardText {
  color: var(--text-grey);
  font-size: 18px;
  line-height: 1.625;
}
