.subtitle {
  font-size: 20px;
  color: var(--mischka);
  text-align: center;
  font-weight: 300;
  margin-bottom: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: var(--mischka);
  background-color: var(--shark-3);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}

.listItem:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.bullet {
  width: 12px;
  height: 12px;
  background-color: var(--sepia-skin);
  border-radius: 9999px;
  margin-top: 8px;
  flex-shrink: 0;
}

.itemText {
  font-size: 18px;
  line-height: 1.625;
}

.highlightBox {
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgba(156, 91, 64, 0.2);
}

.boxText {
  font-size: 20px;
  color: var(--mischka);
  text-align: center;
  line-height: 1.625;
}

.highlightText {
  font-weight: 500;
  color: var(--just-right);
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
