:root {
  --silver-chalice: #a5a5a5;
  --mine-shaft: #2e2e2e;
  --rose-white: #fffafa;
  --shark: #1a1b1e;
  --thunder: #231f20;
  --white: #fff;
  --black: #000;
  --header-height: 100px;
  --sticky-header-height: calc(var(--header-height) / 2 + 20px);
  --abbey: #4f5257;
  --iron: #dadedf;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.noScroll {
  overflow: hidden;
}
