:root {
  --silver-chalice: #a5a5a5;
  --mine-shaft: #2e2e2e;
  --rose-white: #fffafa;
  --shark: #1a1b1e;
  --thunder: #231f20;
  --white: #fff;
  --black: #000;
  --header-height: 100px;
  --sticky-header-height: calc(var(--header-height) / 2 + 20px);
  --abbey: #4f5257;
  --iron: #dadedf;

  /* Before divorce */
  --shark-2: #1f2023;
  --shark-3: #2c2d31;
  --just-right: #ead0b3;
  --sepia-skin: #9c5b40;
  --potters-clay: #874d35;
  --font-family-crimson: "Crimson Pro", Georgia, serif;

  --athens-gray: #f3f4f6;
  --mischka: #d1d5db;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.noScroll {
  overflow: hidden;
}
