.banner {
  --banner-height: 650px;
  padding: calc(var(--header-height) + 30px) 0 0 25px;
  background-image: url("/stone-texture.png");
  background-repeat: repeat;
  color: var(--rose-white);
  position: relative;
  overflow: hidden;
  max-height: var(--banner-height);
}

.backgroundScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--mine-shaft) 0%, var(--abbey) 100%);
  opacity: 0.9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 80px;
}

.logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 10px;
}

.themis {
  display: none;
  position: relative;
  bottom: 0;
  width: 50%;
  height: calc(var(--banner-height) - var(--header-height));
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
}

.themisEnabled {
  display: flex;
}

.themis img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.buttonWrapper {
  margin-top: 10px;
  width: fit-content;
}

.itemsList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin-top: 20px;
  flex-wrap: wrap;
}

.itemsList li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  flex-wrap: nowrap;
}

.itemsList li svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .banner {
    display: flex;
    align-items: center;
    min-height: 550px;
    padding: var(--header-height) 25px 0 25px;
  }

  .container {
    margin: auto;
    justify-content: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .itemsList {
    justify-content: center;
  }
}
