.header {
  --content-color: var(--mine-shaft);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-height) + 1px);
  background-color: transparent;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.beforeDivorceHeader {
  --content-color: var(--shark);
}

.content {
  position: relative;
  padding: 0 25px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.stickyHeader {
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 17px 2px #000000;
  background-color: var(--content-color);
  height: var(--sticky-header-height);
}

.logoWrapper {
  z-index: 10;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 30px;
  margin-left: auto;
}

.link {
  color: var(--rose-white);
  font-size: 16px;
  letter-spacing: 0.5;
}

.linkActive {
  text-decoration: underline;
}

.link:hover,
.link:focus-visible {
  color: var(--silver-chalice);
}

.mediaButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .contentMobileMenuOpen {
    background-color: var(--content-color);
  }

  .mobileMenu {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    padding: calc(var(--header-height) + 20px) 30px 0;
    position: fixed;
    background-color: var(--content-color);
    transition: all 0.3s ease-in-out;
  }

  .stickyHeader .mobileMenu {
    padding: calc(var(--sticky-header-height) + 20px) 30px 0;
  }

  .mobileMenuContentOpen {
    opacity: 1;
  }

  .hamburgerWrapper {
    display: flex;
    margin-left: auto;
    z-index: 10;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100%;
    max-width: 180px;
  }
}
