.container {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.container:focus {
  outline: none;
}

.line {
  width: 32px;
  height: 4px;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.open .line:nth-child(1) {
  transform: rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.open .line:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
  }
}
