.mediaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rose-white);
  gap: 5px;
  font-size: 16px;
}

.mediaIcon {
  width: 28px;
  height: 28px;
  color: inherit;
}

.mediaButton:hover,
.mediaButton:focus-visible {
  color: var(--warm-sand);
}

.pill {
  padding: 0.4rem 1rem;
  border-radius: 50px;
  border: 1px solid var(--warm-sand);
  color: var(--warm-sand);
}

.pill .mediaIcon {
  color: var(--warm-sand);
}

.pill:hover,
.pill:focus-visible {
  background-color: var(--warm-sand);
  color: var(--shark);
}

.pill:hover .mediaIcon,
.pill:focus-visible .mediaIcon {
  color: var(--shark);
}

@media screen and (max-width: 500px) {
  .mediaIcon {
    width: 24px;
    height: 24px;
  }

  .mediaButton {
    font-size: 15px;
  }
}
